#define clone3 435

POLICY sandbox {
  ERRNO(1) {
    fork,
    clone,
    clone3,

    shmget,
    shmctl,
    shmat,
    shmdt,

    mq_open,
    mq_timedsend,
    mq_timedreceive,
    mq_unlink,
    mq_notify,
    mq_getsetattr,

    memfd_create,

    msgget,
    msgsnd,
    msgrcv,
    msgctl,

    semget,
    semctl,
    semop
  }
}

USE sandbox DEFAULT ALLOW